@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.container{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 100px 0;
background-color: #000000;
}
.main h1{
    font-size: 35px;
    line-height: 160px;
    margin-left:  -10px;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
}
.main h3{
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px rgb(16, 154, 235);
}